@font-face
  font-family: 'PT Sans'
  src: local('PT Sans'), local('PTSans-Regular'), url('../fonts/PTSans-Regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'PT Sans'
  src: local('PT Sans Bold'), local('PTSans-Bold'), url('../fonts/PTSans-Bold.woff') format('woff')
  font-weight: bold
  font-style: normal

@font-face
  font-family: 'Montserrat'
  src: local('Montserrat regular'), local('montserrat-v25-latin-regular'), url('../fonts/montserrat-v25-latin-regular.woff') format('woff')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Computer Modern'
  src: local('Computer Modern'), local('cmunss'), url('../fonts/cmunss.ttf') format('ttf')
  font-weight: normal
  font-style: normal
